<h1>Ustawienia</h1>

<h2>Edytor listy posiłków</h2>
<div class="container">
    <div class="row">
        <div class="col-sm">Nazwa</div>
        <div class="col-sm">Kalorie</div>
        <div class="col-sm">Opcje</div>
    </div>

    <app-food-item-row *ngFor="let food of foodItemsList" [foodItem]="food" (foodItemChange)="foodItemChangeHandler($event)"></app-food-item-row>

    <app-food-item-adder></app-food-item-adder>

    <!-- <div class="row">
        <div class="col">
            <input type="text">
        </div>
        <div class="col">
            <input type="number">
        </div>
        <div class="col">
            <button type="submit">Dodaj</button>
        </div>
    </div> -->
</div>