<p>meal-history works!</p>


<div class="card bg-light">
    <div class="card-header text-center">
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-outline-primary" type="button" (click)="changeDay(-1)">Poprzedni dzień</button>
            </div>
            <div class="col-sm">
                <input class="form-control" type="date" [value]="shownDateString" id="data">
            </div>
            <div class="col-sm">
                <button class="btn btn-outline-primary" *ngIf="shownDateString != currentDateString" type="button" (click)="changeDay(1)">Następny dzień</button>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of this.kcalService.shownDayRecord.$foodItemsEaten">{{item.name}} - {{item.kcal}} kcal</li>
        <li class="list-group-item" *ngIf="this.kcalService.shownDayRecord.$foodItemsEaten.length == 0">Brak zapisanych posiłków</li>
    </ul>
</div>
