<div class="card bg-light mb-3">
    <h4 class="card-header">Zjedzone posiłki</h4>
    <div class="card-body">
        <div class="input-group">
            <div class="input-group-prepend">
                <button [disabled]="shownDateString == this.kcalService.getFirstRunDate()" class="btn btn-primary" type="button" (click)="changeDay(-1)">Poprzedni</button>
            </div>

            <input #dateInput class="form-control" type="date" [value]="shownDateString" [min]="this.kcalService.getFirstRunDate()" [max]="this.kcalService.dateToString()" id="data" (change)="showDate(dateInput)">
            
            <div class="input-group-append">
                <button [disabled]="shownDateString == currentDateString" class="btn btn-primary" type="button" (click)="changeDay(1)">Następny</button>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of this.kcalService.shownDayRecord.$foodItemsEaten">{{item.name}} - {{item.kcal}} kcal</li>
        <li class="list-group-item" *ngIf="this.kcalService.shownDayRecord.$foodItemsEaten.length == 0">Brak zapisanych posiłków</li>
    </ul>
</div>
