<nav class="navbar navbar-light bg-light">
    <ul class="nav">
        <li class="nav-item">
            <span class="nav-link">Menu</span>
        </li>
        <li class="nav-item" (click)="selectMenu('food')">
            <a [className]="selectedMenu == 'food' ? 'nav-link active' : 'nav-link'" href="#">Dodawanie posiłków</a>
        </li>
        <li class="nav-item" (click)="selectMenu('settings')">
            <a [className]="selectedMenu == 'settings' ? 'nav-link active' : 'nav-link'" href="#">Ustawienia</a>
        </li>
    </ul>
</nav>